In [2]:
import numpy as np
import pandas as pd

In [3]:
movies = pd.read_csv('E:\Santiago\Descargas\movies.csv', index_col=0, usecols=(range(0,10))).dropna()

In [4]:
movies.Genre = [x.split(', ') for x in movies.Genre] #Separa los generos

In [5]:
lista_generos = np.unique([y for x in movies.Genre for y in x]) # Lista de generos

In [ ]:
lista_anos = np.sort(pd.unique(movies['Year'])) # Lista de a√±os

In [83]:
# Diccionario de generos
i = 0
dict_generos = {}

for x in lista_generos:
    dict_generos[x] = 0

Metascore is a weighted average in that we assign more importance, or weight, to some critics and publications than others, based on their quality and overall stature.

##Lowest and highest score

In [29]:
movies.sort_values(by='Score').head()

,Title,Year,Score,Metascore,Genre,Vote,Director,Runtime,Revenue
Rank,,,,,,,,,
6341,Saving Christmas,2014,1.5,18.0,"Comedy, Family",13831,Darren Doane,79,2.78
1994,Disaster Movie,2008,1.9,15.0,Comedy,80971,Jason Friedberg,87,14.19
3778,House of the Dead,2003,2.0,15.0,"Action, Adventure, Horror",34197,Uwe Boll,90,10.25
6257,Who's Your Caddy?,2007,2.1,18.0,"Comedy, Sport",14213,Don Michael Paul,93,5.69
4633,From Justin to Kelly,2003,2.1,14.0,"Comedy, Musical, Romance",24236,Robert Iscove,81,4.92

In [30]:
movies.sort_values(by='Score', ascending=False).head()

,Title,Year,Score,Metascore,Genre,Vote,Director,Runtime,Revenue
Rank,,,,,,,,,
1,The Shawshank Redemption,1994,9.3,80.0,Drama,2011509,Frank Darabont,142,28.34
33,The Godfather: Part II,1974,9.0,90.0,"Crime, Drama",954273,Francis Ford Coppola,202,57.30
2,The Dark Knight,2008,9.0,84.0,"Action, Crime, Drama",1980200,Christopher Nolan,152,534.86
9,The Lord of the Rings: The Return of the King,2003,8.9,94.0,"Action, Adventure, Drama",1431887,Peter Jackson,201,377.85
23,Schindler's List,1993,8.9,93.0,"Biography, Drama, History",1038237,Steven Spielberg,195,96.07

In [85]:
for x in movies.Genre:
    for y in lista_generos:
        if y in x:
            dict_generos[y]+=1

In [68]:
movies['Genre'].value_counts()

[Comedy, Drama, Romance]         333
[Comedy, Drama]                  285
[Drama]                          281
[Comedy]                         229
[Drama, Romance]                 216
                                ...
[Crime, Drama, Sci-Fi]             1
[Action, Drama, Comedy]            1
[Animation, Biography, Crime]      1
[Comedy, Music, Musical]           1
[Drama, Mystery, Music]            1
Name: Genre, Length: 374, dtype: int64

##Highest score movie of a given year

In [10]:
x = 0
while x not in lista_anos:
    x = int(input())
movies[movies['Year'] == x].sort_values(by='Score',ascending=False).head(1)

,Title,Year,Score,Metascore,Genre,Vote,Director,Runtime,Revenue
Rank,,,,,,,,,
1180,Metropolis,1927,8.3,98.0,"[Drama, Sci-Fi]",137119,Fritz Lang,153,1.24

##Mean of the score of the years in a given decade

In [27]:
d = int(input())
movies[(movies['Year'] >= d) & (movies['Year'] < d + 10)].groupby(movies['Year'])['Score'].mean()

Year
1960    8.075000
1961    7.600000
1962    6.600000
1963    7.577778
1964    7.850000
1965    7.633333
1966    8.200000
1967    7.700000
1968    7.885714
1969    7.680000
Name: Score, dtype: float64

##Mean of the score in a given decade

In [38]:
d = int(input())
movies[(movies['Year'] >= d) & (movies['Year'] < d + 10)]['Score'].mean()

7.727777777777778